<aside class="panel left">

<h3>Governança Editorial</h3>
<div class="feed">
<strong>Arquivos da 1ª Edição</strong>
<br><br>
<small>
Backup geral dos arquivos iniciais.
</small>
  <div class="doc-secondary">
  <a href="https://drive.google.com/drive/folders/1zcUVQbZmGVeFempWY1g6jKKLwxoQAqwC?usp=drive_link"
     target="_blank"
     class="doc-button">
     📚 Drive 
  </a>
</div>
</div>


  <div class="feed">
<strong>Rascunho V1 Completo</strong>
<br><br>
<small>
Acesso ao manuscrito versão 1, contendo 20 Capítulos divididos em 7 Partes.
</small>
  <a href="https://docs.google.com/document/d/1sWQGFrmblBuCaRu6ACtBBBWkzMcyxuMt5cUo-GHv77Y/edit?usp=sharing"
   target="_blank"
   class="doc-button">
   📊 Manuscrito V1
</a>
</div>
<!--
<div class="feed">
<strong>Pendências Operacionais</strong>
<br><br>
<small>
Atualização textual, revisão normativa e integração dos estudos de caso.
</small>
</div>
  
<div class="feed">
<strong>Disclosure Editorial</strong>
<br><br>
<small>
Estrutura de publicação contínua inspirada em sistemas SEC-style.
</small>
</div>

<div class="feed">
<strong>Equipe Editorial</strong>
<br><br>
<small>
Coordenação integrada entre revisão técnica, governança e produção editorial.
</small>
</div>

<div class="card">

<h2>Tags Operacionais</h2>

<div class="tags">

<div class="tag">NBCT SP 34</div>
<div class="tag">SICSP</div>
<div class="tag">CASP</div>
<div class="tag">Governança</div>
<div class="tag">Custos Públicos</div>
<div class="tag">Disclosure</div>
<div class="tag">BookOS</div>
<div class="tag">OneDrive</div>

</div>

</div>-->

</aside>
